<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>HoverClick</string>
	<key>CFBundleDisplayName</key>
	<string>HoverClick</string>
	<key>CFBundleIdentifier</key>
	<string>com.gergoterek.HoverClick</string>
	<key>CFBundleExecutable</key>
	<string>HoverClick</string>
	<key>CFBundleIconFile</key>
	<string>HoverClick.icns</string>
	<key>CFBundleVersion</key>
	<string>37</string>
	<key>CFBundleShortVersionString</key>
	<string>0.8.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>HoverClick needs Accessibility access to focus windows before click delivery.</string>
	<key>SUFeedURL</key>
	<string>https://gergoterek.github.io/HoverClick/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>093ZOOvjGmr8WkI31IzBnjGwM3GXZU1q/qgDgADWm9o=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
</dict>
</plist>
